@import url(https://fonts.googleapis.com/css?family=Teko:300,400);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
	box-sizing: border-box;
}

/** { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* global */

body {
	font-family: 'Teko', sans-serif; 'Titillium Web';
	font-size: 16px; 
	margin: 0 auto;
	padding: 0;
	vertical-align: middle;
}


h1 {
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 7.5em;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	padding-top: 18%;
}

h3 {
	font-family: 'Teko', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.875em;
	letter-spacing: 1px;	
}

h2 {
	font-family: 'Teko', sans-serif;
	font-size: 2em;
	letter-spacing: 1.5px;
	font-weight: 400;
	text-transform: uppercase;
}


.navbar a {
	font-size: 1em;
	font-family:'Titillium Web', sans-serif;
	font-weight: 400;
	text-decoration: none;
}

.blocks li a {
	font-family: 'Teko', sans-serif;
	font-weight: 300;
	font-size: 1.875em;
	color: #ffffff;
	text-decoration: none;
	display: block;
	margin-top: 1em;
}

.blocks i {
	color: #fff;
	font-size: 1.875em;	
	display: block;
	margin-top: 1em;	
}

p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}

p.subtitle {
	font-size: 1.375em;
	line-height: 1.18em;
	color: #d5cdc9;
	margin-top: 1.4%;
	margin-bottom: 6.8%;
}

p.intro {
	font-size: 0.875em;
	color: #7c7c7c;
	text-transform: capitalize;
	margin-left: 2%;
	line-height: 0.875em;
}


p.actions, p.joinus {
	font-size: 1em;
}

p.actions {
	color: #ffffff;
}

p.joinus {
     color: #adadad;
}


/* navigation */


header.container {
	width: 100%;
	margin: 0 auto;
	height: 74px;
}

.logo {
	float: left;
	margin-left: 20%;
	height: 74px;
}

#active {
	color: #f63c3c;
}

/* active navigation bar home in red*/
#active:after {
    content: '';
    width: 40px;
	height: 5px;
    position: absolute;
    left: 0.93em;
    bottom: 0.41em;
    border-width: 0 0 5px;
    border-style: solid;
}

nav.navbar {
	float: right;
	margin-right: 13em;
	padding-top: 29px;
	padding-bottom: 29px;
	position: relative;
}

.navbar li {
	display: inline-block;
	text-align: center;
	margin-left: 1em;
	list-style: none;
}

.navbar a {
	color: #7f7f7f;
	font-size: 1em;
	font-weight: 400;
	font-family: 'Titillium Web', sans-serif;
}

/* hero */

section.hero {
	background-image: url(img/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 800px;
	margin-top: -0.3em;
	
}


div.titles {
	position: relative;
	text-align: center;
	list-style: none;
	width: 90%;
	margin: 0 auto;

}

a.button1 {
	background-color: #ffffff;
	padding: 1.2em 4.4em;
	text-decoration: none;
	color: #000;
	letter-spacing: 0.2em;
	font-size: 1.25em;
	text-transform: uppercase;
}

/* pagination - hero */

nav.pagination {
	/*margin: 0 auto;margin-bottom: 2%;	this measure works well on firefox*/
	margin-top: 8%;
	margin-left: 43%;
	list-style: none;
}

.pager.active {
	background-color: #fff;
}

li.pager {
	width: 40px;
	height: 5px;
	display:inline-block;
    margin: 2.5px 2.5px 2.5px 2.5px;
    padding:2px 2px 2px 2px;
	list-style: none;
	background-color: #63534d;
}

li.pager:last-child {
	margin-right:0;
}

/* my project, with articles float left*/


div.product {
	text-align: center;
	margin-top: -20px;
}

h2.projecttitle {
	margin-top: 1em; 
	margin-bottom: 1em;
	text-align: center;
}

h3 {
	margin-top: 1em;
	margin-bottom: 0.4em;
}

/* my project 4 image containter */
 section.containermain {
	max-width: 96%; 
	margin-left: 1%;
}

/* my project 4 image float*/

article.slide {
	float: left;
	max-width: 48%;
	margin-left: 2%;
	margin-bottom: 4%;
	overflow: hidden;
	text-align: center;
}

figure img {
	max-width: 100%;
}


/*.containermain:after { 
   content: "";
   display: block; 
   clear: both;
} optional code for reference. 

/* show more project, bg red divider */

div.readmore  {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 5%;
	margin-top: 3%;
	margin-right: 3%;	
}

a.showmore {
	color: #f63c3c;
	font-size: 1.25em;
	font-weight: 400;
	letter-spacing: 0.1em;	
}



.signup {
	background-color: #f63c3c;
	width: 100%;
	height: 16.769em;
	text-align: center;
	margin-bottom: 3%; 
	margin-top: 2%; 
}

h2.show {
	color: #fff;
	font-weight: 300;
	padding-top: 2em;
}

p.actions {
	margin-bottom: 40px;
}

 a.touch {
	padding: 10px 73px;
	background-color: #fff;
	text-decoration: none;
	color: #000;
	font-size: 1.25em;
	letter-spacing: 0.2em;
	line-height: 1em; 
	text-transform: uppercase;	
}

/* social media */

div.socialintro{
	position: relative; 
	margin-left: 10%;
	margin-top: 7%;
}

aside.connect {
	background-color: #fafafa;
	margin-top: -6.25em;
	height: 18.75em; 	
}

h2.keeptouch {
	padding-top: 25px; 
}



ul.blocks {
	margin-top: 1.8%;
	margin-bottom: 1.8%;

}

ul.blocks > li {
	float: left;
	width: 16.75em;
	height: 12.43em;
	list-style: none;
	margin-right: 1.7%;
	transform: translateX(50%);
	background-color: #30282a;
	text-align: center;
	padding-top: 1.6%;
	text-transform: uppercase;
	font-weight: 400;
}

ul.blocks:last-child {
	margin-right: 0;
}

/* footer */
p.footer {
	margin-top: 1%; 
	margin-bottom: 2%;
	margin-left: 10%;
	font-size: 0.8em; 
}

































